{% extends "base.html" %}

{% block body %}
<div class="container homepage">
    <div class="col-md-4">
      {% if current_user.is_authenticated %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Feed</h2>
          <ul class="list-group">
            {% for post in posts|sort(reverse=True, attribute='upvotes') %}
            <li class="list-group-item">
              <h5 class="card-title">{{ post.user.username }}</h5>
              <p class="card-text">{{ post.post_content }}</p>
                <div>
                  <form action="/posts/{{ post.id }}/upvote" method="post" style="display: flex; align-items: center;">
                    <button type="submit" class="btn btn-link" style="margin-right: 5px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path d="M8 1 2 7h12z" />
                      </svg>
                    </button>
                    <p style="margin: 0;">{{ post.upvotes }}</p>
                  </form>
                </div>
              
              {% if current_user.is_authenticated and current_user.id == post.user.id %}
                <form action="/posts/{{ post.id }}/delete" method="post" style="display: inline;">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
    {% if not current_user.is_authenticated %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Login</h2>
          <form action="/login" method="post">
            <div class="form-group">
              <input type="text" class="form-control mb-3" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mb-3" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
  {% if not current_user.is_authenticated %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Create User</h2>
          <form action="/users/create" method="post">
            <div class="form-group">
              <input type="text" class="form-control mb-3" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control mb-3" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mb-3" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mb-3" name="bio" placeholder="Bio">
            </div>
            <div class="form-group">
              <input type="url" class="form-control mb-3" name="avatar_path" placeholder="Avatar URL">
            </div>
            <button type="submit" class="btn btn-primary">Create User</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if current_user.is_authenticated %}
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Create Post</h2>
          <form action="/posts/create" method="post">
            <div class="form-group">
              <textarea class="form-control mb-3" name="post_content" rows="3" placeholder="Post Content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}